<f:comment>ALLE ELEMENTE AUSSER FUSSZEILEN-ELEMENTE</f:comment>
<f:if condition="{data.colPos}<92">
	<f:comment>KEINE GRID-COLUMNS-ELEMENTE</f:comment>
	<f:if condition="{data.tx_maagitprovider_container}==0">
		<f:switch expression="{data.layout}">
			<f:case value="1">
				<f:render section="parallax" arguments="{_all}" />
			</f:case>
			<f:case value="99">
				
			</f:case>
			<f:defaultCase>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-10">
							<f:render section="parallax" arguments="{_all}" />
			</f:defaultCase>
		</f:switch>
	</f:if>
</f:if>



<f:section name="parallax">
	<f:if condition="{data.media}==1">
		<f:for each="{files}" as="file">
			<div class="parallax-bg" style="background-image: url('/fileadmin{file.originalFile.identifier}');">
		</f:for>
	</f:if>
</f:section>