<f:if condition="{data.colPos}<92">
	<f:if condition="{data.tx_maagitprovider_container}==0">
		<f:switch expression="{data.layout}">
			<f:case value="1">
				<f:render section="parallax" arguments="{_all}" />
			</f:case>
			<f:case value="99">
	
			</f:case>
			<f:defaultCase>
							<f:render section="parallax" arguments="{_all}" />
						</div>
					</div>
				</div>
			</f:defaultCase>
		</f:switch>
	</f:if>
</f:if>



<f:section name="parallax">
	<f:if condition="{data.media}==1">
		</div>
	</f:if>
</f:section>