<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:if condition="{file.properties.mime_type}=='video/mp4'">
		<f:then>
			<video class="{file.properties.tx_maagitprovider_cssclass}" {f:if(condition: '{file.properties.tx_maagitprovider_controls}', then: 'controls=""')} {f:if(condition: '{file.properties.autoplay}', then: 'autoplay=""')} {f:if(condition: '{file.properties.tx_maagitprovider_loop}', then: 'loop=""')} {f:if(condition: '{file.properties.tx_maagitprovider_muted}', then: 'muted=""')} {f:if(condition: '{file.properties.tx_maagitprovider_playsinline}', then: 'playsinline=""')}>
		    	<f:if condition="{file.properties.tx_maagitprovider_m4v}"><source src="<f:uri.typolink parameter="{file.properties.tx_maagitprovider_m4v}" />" type="video/mp4"></f:if>
		    	<source src="/fileadmin{file.properties.identifier}" type="video/mp4">
		    	<f:if condition="{file.properties.tx_maagitprovider_ogv}"><source src="<f:uri.typolink parameter="{file.properties.tx_maagitprovider_ogv}" />" type="video/ogg"></f:if>
		    	<f:if condition="{file.properties.tx_maagitprovider_webm}"><source src="<f:uri.typolink parameter="{file.properties.tx_maagitprovider_webm}" />" type="video/webm"></f:if>
			</video>
			<f:if condition="{file.properties.tx_maagitprovider_html}"><f:format.raw>{file.properties.tx_maagitprovider_html}</f:format.raw></f:if>
		</f:then>
		<f:else>
			<f:media class="video-embed-item" file="{file}" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" additionalConfig="{settings.media.additionalConfig}" />
		</f:else>
	</f:if>
</html>