<!-- Accessibility Footer -->
<hr class="print" />
<h1 class="hidden">Fusszeile</h1>

<footer id="footer">
	<p class="copyright"><f:format.raw>{footer}</f:format.raw></p>
	<p class="print">maagIT, im B&uuml;el 22b, 9548 Matzingen<br />
	+41 52 376 29 53, info@maagit.ch, www.maagit.ch</p>
</footer>