<a href="/"><div class="logoResponsive"></div></a>
<header id="header">
	<div class="logo"></div>

	<div class="content">
		<div class="inner">
			<img class="hidden" src="/fileadmin/template/images/logo.png" alt="Logo" hspace="20" align="left" width="100px" />
			<f:format.raw>{header}</f:format.raw>
		</div>
	</div>
	<hr class="print" />

	<!-- Accessibility Navigation -->
	<h1 class="hidden">Navigation</h1>
	<h2 class="hidden">Haupt-Navigation</h2>
	
	<!-- Navigation -->
	<f:render partial="LayoutMenu" arguments="{_all}" />
</header>