<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true" >
	<head>
    	<!--[if gte mso 15]>
	    <xml>
	        <o:OfficeDocumentSettings>
	            <o:AllowPNG/>
	            <o:PixelsPerInch>96</o:PixelsPerInch>
	        </o:OfficeDocumentSettings>
	    </xml>
	    <![endif]-->
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title></title>
	    <style type="text/css">

	    </style>
	</head>
	<body>
		<strong><f:render section="Title" optional="true" /></strong>
		<f:render section="Main" />
	</body>
</html>