<f:layout name="DefaultLayout" />
<f:section name="Content">
	<header>
		<div class="firma">
			<a href="/index.php">maagIT</a>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/index.php">maagIT</a>
	    	<div class="nav-additional navbar-nav">
				<div class="nav-contact nav-item">
					<a href="/kontakt" class="nav-link">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<f:format.raw>{menu}</f:format.raw>
			</div>
		</nav>
	</header>

	<main role="main" class="main container m-0">
		<f:switch expression="{data.backend_layout}">
			<f:case value="pagets__10"><f:render partial="Startpage" arguments="{_all}" /></f:case>
			<f:case value="pagets__20"><f:render partial="1Col" arguments="{_all}" /></f:case>
			<f:defaultCase><f:render partial="1Col" arguments="{_all}" /></f:defaultCase>
		</f:switch>
	</main>

	<footer class="footer row pt-3 m-0">
		<div class="col-6">
			<f:format.raw>{footer_copyright}</f:format.raw>
		</div>
		<div class="col-6 text-right">
			<f:format.raw>{footer_links}</f:format.raw>
		</div>
	</footer>
</f:section>