<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:comment>GET IMAGE INFORMATIONS TO DETERMINE THE LAYOUT</f:comment>
	<f:variable name="renderType">-1</f:variable>

	<f:comment>RENDER IMAGE</f:comment>
	<f:switch expression="{data.colPos}">
		<f:case value="10"><f:render partial="Media/Type/Custom/Slider" arguments="{_all}" /></f:case>
		<f:defaultCase>
			<figure class="image">
				<f:switch expression="{renderType}">
					<f:case value="(placeholder)"><f:render partial="Media/Type/Custom/ImageLink" arguments="{_all}" /></f:case>
					<f:defaultCase>
						<f:if condition="{file.link}">
					        <f:then>
					            <f:link.typolink parameter="{file.link}" title="{file.title}">
					                <f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
					            </f:link.typolink>
					        </f:then>
					        <f:else>
					            <f:if condition="{data.image_zoom}">
					                <f:then>
					                    <ce:link.clickEnlarge image="{file}" configuration="{settings.media.popup}">
					                        <f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
					                    </ce:link.clickEnlarge>
					                </f:then>
					                <f:else>
					                    <f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
					                </f:else>
					            </f:if>
					        </f:else>
					    </f:if>
					    <f:if condition="{file.description}">
					        <figcaption class="image-caption">
					            {file.description -> f:format.nl2br()}
					        </figcaption>
					    </f:if>
					</f:defaultCase>
				</f:switch>
			</figure>
		</f:defaultCase>
	</f:switch>
</html>
