<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<figure class="video">
	<f:if condition="{data.colPos}==10">
		<f:then>
			<f:render partial="Media/Rendering/Video" arguments="{file: file, dimensions: dimensions, settings: settings}" />
			<f:if condition="{file.description}">
				<div class="caption">
					<h2 class="animated bounce">{file.description -> f:format.nl2br()}</h2>
					<f:if condition="{file.title}">
						<f:if condition="{file.link}">
							<f:link.typolink parameter="{file.link}">
								<button class="btn btn-primary">{file.title}</button>
							</f:link.typolink>
						</f:if>
					</f:if>
				</div>			
			</f:if>
		</f:then>
		<f:else>
			<div class="video-embed">
		        <f:render partial="Media/Rendering/Video" arguments="{file: file, dimensions: dimensions, settings: settings}" />
		    </div>
		    <f:if condition="{file.description}">
		        <figcaption class="video-caption">
		            {file.description -> f:format.nl2br()}
		        </figcaption>
		    </f:if>
		</f:else>
	</f:if>
</figure>
</html>
