/* ===================================================================================================================== */
/*                                                       I M P O R T S                                                   */
/* ===================================================================================================================== */


/* ===================================================================================================================== */
/*                                                         F O N T S                                                     */
/* ===================================================================================================================== */


/* ===================================================================================================================== */
/*                                                C O O K I E   C O N S E N T                                            */
/* ===================================================================================================================== */
#cconsent-bar {
	padding-top: 0			!important;
	padding-bottom: 0		!important;
}

.xs #cconsent-bar,
.xs #cconsent-bar button {
	font-size: 10px			!important;
}


/* ===================================================================================================================== */
/*                                           B R O W S E R   B E H A V I O U R S                                         */
/* ===================================================================================================================== */


/* ===================================================================================================================== */
/*                                               G E N E R A L   ( T Y P O 3 )                                           */
/* ===================================================================================================================== */
.xs .frame-space-before-extra-small,
.xs .frame-space-after-extra-small {
    margin-top: 0.5em;
}

.xs .frame-space-before-small,
.xs .frame-space-after-small {
    margin-top: 1em;
}

.xs .frame-space-before-medium,
.xs .frame-space-after-medium {
	margin-top: 1.5em;
}

.xs .frame-space-before-large,
.xs .frame-space-after-large {
	margin-top: 2em;
}

.xs .frame-space-before-extra-large,
.xs .frame-space-after-extra-large {
	margin-top: 2.5em;
}


/* ===================================================================================================================== */
/*                                                       E F F E C T S                                                   */
/* ===================================================================================================================== */
/* ------------------------------------ */
/* --         P A R A L L A X        -- */
/* ------------------------------------ */
.parallax-bg {
	background-position: 50% 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding: 1.5em 0;
}

/* ------------------------------------ */
/* --           M O D A L            -- */
/* ------------------------------------ */
.modal-backdrop.show {
    opacity: 0.8 !important;
}

/* ------------------------------------ */
/* --           S L I D E R          -- */
/* ------------------------------------ */
.slider {
	position: relative;
}

.slider img {
	position: absolute;
	z-index: 1;
	display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

.slider img.active {
	z-index: 3;
}

.slider img.base {
    z-index: -1;
    position: static;
    display: block;
}


/* ===================================================================================================================== */
/*                                         H E A D E R   A N D   N A V I G A T I O N                                     */
/* ===================================================================================================================== */
.firma {
	display: none;
}

.navbar {
	border-bottom: 1px solid;
	padding-right: 0.5		!important;
}

.navbar-nav.ml-auto {
	margin-left: calc(50% - 160px) !important;
}

.nav-additional {
	position: absolute;
	right: 0;
}

.nav-additional > div {
	display: inline-block;
	border-left: 1px dashed;
}

.nav-additional .nav-item .nav-link {
	padding: 0 30px;
}

.md .nav-additional,
.sm .nav-additional,
.xs .nav-additional {
	display: block		!important;
	position: initial;
	right: initial;
}


/* ===================================================================================================================== */
/*                                                           M A I N                                                     */
/* ===================================================================================================================== */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 90px;
}

.main {
	padding-top: 57px			!important;
	padding-bottom: 57px		!important;
	max-width: 100%				!important;
}


/* ===================================================================================================================== */
/*                                                  I M A G E   S L I D E R                                              */
/* ===================================================================================================================== */


/* ===================================================================================================================== */
/*                                                       C O N T E N T                                                   */
/* ===================================================================================================================== */
/* header links */
/* ------------ */
.nav-contact a {
	padding: 0 25px				!important;
}

/* maagitprodut */
/* ------------ */
.nav-basket {
	padding: 0					!important;
}

.nav-item .row > div {
	padding: 0;
}

.tx-maagitproduct-basket.js-tx-maagitproduct-basket {
	text-align: center;
}

.tx-maagitproduct-basket__trigger.text-replace {
	padding-left: 25px;
	padding-right: 25px;
}

.tx-maagitproduct-basket__count {
	right: 83px			   	    !important;
	top: -10px					!important;
}

.tx-maagitproduct-basket__minordersign {
	margin-left: 10px;
}


/* maagituser */
/* ------------ */
.nav-login {
	padding: 0		 			!important;
}

.nav-login a {
	padding-left: 25px			!important;
	padding-right: 25px			!important;
}

.tx-maagituser_open .tx-maagituser_permalogin.tx-maagituser_recovery .tx-maagituser_content {
	height: 338px				!important;
	margin-right: 10px			!important;
}


/* ===================================================================================================================== */
/*                                                        F O O T E R                                                    */
/* ===================================================================================================================== */
.footer {
	position: absolute;
	bottom: 0;
	margin-top: 30px;
	width: 100%;
	height: 60px;
	border-top: 1px solid;
	font-size: 12px;
}

.bottom-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bottom-nav li {
    display: inline-block;
    margin-right: 15px;
}

.footer ul li {
	display: inline;
}


/* ===================================================================================================================== */
/*                                                    R E S P O N S I V E                                                */
/* ===================================================================================================================== */
@media (min-width: 768px) {
	.col-md-8 {
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}
}

@media (max-width: 991px) {
	.tx-maagitproduct-basket__count {
		top: 4px					!important;
	}

	.md .nav-additional, .sm .nav-additional, .xs .nav-additional {
		margin-right: -1.5rem		!important;
	}
}

@media (max-width: 768px) {
	.firma {
		position: fixed;
		display: block;
		width: 100%;
		height: 40px;
		background-color: #475168;
		padding-left: 1.5rem;
		padding-top: 8px;
		z-index: 9999;
	}
	
	.firma a {
		color: #ffffff;
		text-decoration: none;
	}

	.main {
		padding-top: 80px			!important;
	}

	.navbar {
		margin-top: 40px;
	}

	a.navbar-brand {
		display: none				!important;
	}
	
	.navbar-nav.ml-auto {
		margin-left: initial		!important;
	}
	
	.nav-link {
		padding: 0.25rem 0			!important;
	}
	
	.md .nav-additional, .sm .nav-additional, .xs .nav-additional {
		margin-right: 0				!important;
	}

	.nav-additional > div {
		border-left: initial		!important;
	}
	
	.nav-contact a {
		padding-left: 5px			!important;
		padding-right: 5px			!important;
	}

	.nav-basket {
		padding-left: 5px			!important;
		padding-right: 5px			!important;
	}
	
	.nav-basket .tx-maagitproduct-basket__trigger.text-replace {
		padding-right: 0			!important;
	}

	.tx-maagitproduct-basket__count {
		right: 44px					!important;
	}

	.nav-login a {
		padding-left: 5px			!important;
		padding-right: 5px			!important;
	}
	
	.tx-maagitproduct-basket__trigger.text-replace {
		padding-left: 0				!important;
		padding-right: 0.8rem		!important;
	}
	
	.xs .experienceAlert, .sm .experienceAlert {
		height: 107px				!important;
		top: 114px					!important;
		right: 0					!important;
	}

	.tx-maagituser_open .tx-maagituser_permalogin.tx-maagituser_recovery .tx-maagituser_content {
		height: 338px				!important;
		margin-right: 0				!important;
	}
}

@media (max-width: 575px) {
	.tx-maagituser_open .tx-maagituser_permalogin.tx-maagituser_recovery .tx-maagituser_content {
		height: 410px				!important;
	}
}

@media (max-width: 480px) {
	.tx-maagituser_open .tx-maagituser_permalogin.tx-maagituser_recovery .tx-maagituser_content {
		height: 338px				!important;
	}
}