<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="form-navigation">
    <div class="btn-toolbar row" role="toolbar">
		<div class="col-sm-3 p-0 d-none d-sm-block">&nbsp;</div>
		<f:if condition="{form.previousPage}">
            <div class="btn-group previous col-sm-9">
                <f:form.hidden property="__currentPage" value="{form.previousPage.index}" />
                <f:form.button type="button" onclick="document.forms['{form.formDefinition.identifier}'].submit();" class="btn btn-cancel" formnovalidate="formnovalidate">{formvh:translateElementProperty(element: form.currentPage, renderingOptionProperty: 'previousButtonLabel')}</f:form.button>
            </div>
        </f:if>
        <f:if condition="{form.nextPage}">
            <f:then>
                <div class="btn-group next col-sm-9">
                    <f:form.button property="__currentPage" value="{form.nextPage.index}" class="btn btn-primary">{formvh:translateElementProperty(element: form.currentPage, renderingOptionProperty: 'nextButtonLabel')}</f:form.button>
                </div>
            </f:then>
            <f:else>
                <div class="btn-group next submit col-sm-9">
                    <f:form.button property="__currentPage" value="{form.pages -> f:count()}" class="btn btn-primary">
                        {formvh:translateElementProperty(element: form, renderingOptionProperty: 'submitButtonLabel')}
                    </f:form.button>
                </div>
            </f:else>
        </f:if>
    </div>
</nav>
</html>
