<h3>{form.name}</h3>
<div class="table-fit">
	<table id="typo3-formdata-{form.id}-list" class="table table-striped table-hover">
		<f:render partial="Formdata/TableHeader" arguments="{form: form}" />
		<f:render partial="Formdata/TableBody" arguments="{form: form, paginatedRequests: form.pagination.paginatedItems}" />
		<f:render partial="Formdata/TableFooter" arguments="{form: form}" />
	</table>
</div>
<f:render partial="Div/Pagination" section="pagination" arguments="{pagination: form.pagination, key: form.id, settings: settings, route: 'web_formdata'}" />