<tr>
	<td class="col-control">
		<f:variable name="recordFrom" value="{f:format.date(date: request.crdate, format='d.m.Y H:i')}" />
		<f:variable name="title" value="{f:translate(key:'LLL:EXT:maagitprovider/Resources/Private/Language/locallang_mod.xlf:delete.title')}" />
		<f:variable name="content" value="{f:translate(key:'LLL:EXT:maagitprovider/Resources/Private/Language/locallang_mod.xlf:delete.content', arguments: {0: recordFrom})}" />
		<f:variable name="close" value="{f:translate(key:'LLL:EXT:maagitprovider/Resources/Private/Language/locallang_mod.xlf:delete.cancel')}" />
		<f:link.action action="delete" arguments="{requestId: request.id}" class="btn btn-default t3js-modal-trigger" data="{severity: 'warning', title: title, bs-content: content, button-close-text: close}">
			<core:icon identifier="actions-edit-delete" />
		</f:link.action>
	</td>
	<td><f:format.date format="d.m.Y H:i">{request.crdate}</f:format.date></td>
	<f:for each="{form.columns}" as="column">
		<f:variable name="found" value="false" />
		<f:for each="{request.fields}" as="field">
			<f:if condition="{field.name}=={column}">
				<f:variable name="found" value="true" />
				<td>
					<f:if condition="{field.type}=='Date'">
						<f:then>
							<f:format.date format="d.m.Y">{field.value}</f:format.date>
						</f:then>
						<f:else>
							<f:if condition="{field.type}=='DatePicker'">
								<f:then>
									<f:format.date format="d.m.Y">{field.value}</f:format.date>
								</f:then>
								<f:else>
									{field.value}
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</td>
			</f:if>
		</f:for>
		<f:if condition="{found}=='false'">
			<td>&nbsp;</td>
		</f:if>
	</f:for>
</tr>