<thead>
	<tr>
		<th class="col-control" width="20"></th>
		<th><f:translate key="LLL:EXT:maagitprovider/Resources/Private/Language/locallang_mod.xlf:crdate" /></th>
		<f:for each="{form.columns}" as="column">
			<th>{column}</th>
		</f:for>
	</tr>
</thead>