<tfoot>
	<tr>
		<f:variable name="columnsCount" value="{form.columns -> f:count()}" />
		<f:variable name="colspan" value="{columnsCount + 2}" />
		<td colspan="{colspan}">
			<f:if condition="{form.requests -> f:count()}==1">
				<f:count subject="{form.requests}" /> <f:translate key="LLL:EXT:maagitprovider/Resources/Private/Language/locallang_mod.xlf:record" />
			</f:if>
			<f:if condition="{form.requests -> f:count()}!=1">
				<f:count subject="{form.requests}" /> <f:translate key="LLL:EXT:maagitprovider/Resources/Private/Language/locallang_mod.xlf:records" />
			</f:if>
		</td>
	</tr>
</tfoot>