<f:section name="pagination">
    <nav class="pagination-wrap">
        <ul class="pagination pagination-block">
            <f:if condition="{pagination.hasLessPages}">
                <f:then>
                    <li>
                        <a href="{f:be.uri(route: route, parameters:'{id: settings.pid, key: key, currentPage: 1}')}" title="{f:translate(key:'pagination.first')}">
                            <core:icon identifier="actions-view-paging-first" />
                        </a>
                    </li>
                    <li>
                        <a href="{f:be.uri(route: route, parameters:'{id: settings.pid, key: key, currentPage: pagination.previousPage}')}" title="{f:translate(key:'pagination.previous')}">
                            <core:icon identifier="actions-view-paging-previous" />
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <li class="disabled">
                        <span>
                            <core:icon identifier="actions-view-paging-first" />
                        </span>
                    </li>
                    <li class="disabled">
                        <span>
                            <core:icon identifier="actions-view-paging-previous" />
                        </span>
                    </li>
                </f:else>
            </f:if>
            <li>
                <span>
                    <f:if condition="{recordsLabel}">
                        <f:then>
                            {recordsLabel}
                        </f:then>
                        <f:else>
                            <f:translate key="pagination.records" />
                        </f:else>
                    </f:if>
                    {pagination.startRecord} - {pagination.endRecord}
                </span>
            </li>
            <li>
                <span>
                    <f:translate key="pagination.page" />

                    <form style="display:inline;"
                        data-global-event="submit"
                        data-action-navigate="$form=~s/$value/"
                        data-navigate-value="{f:be.uri(route: route, parameters:'{id: settings.pid, key: key, currentPage: \'$[value]\'}')}"
                        data-value-selector="input[name='paginator-target-page']">
                        <f:form.textfield additionalAttributes="{min: '1', data-number-of-pages: '{pagination.numberOfPages}'}" name="paginator-target-page" class="form-control input-sm paginator-input" size="5" value="{pagination.current}" type="number" />
                    </form>

                    / {pagination.numberOfPages}
                </span>
            </li>
            <f:if condition="{pagination.hasMorePages}">
                <f:then>
                    <li>
                        <a href="{f:be.uri(route: route, parameters:'{id: settings.pid, key: key, currentPage: pagination.nextPage}')}" title="{f:translate(key:'pagination.next')}">
                            <core:icon identifier="actions-view-paging-next" />
                        </a>
                    </li>
                    <li>
                        <a href="{f:be.uri(route: route, parameters:'{id: settings.pid, key: key, currentPage: pagination.numberOfPages}')}" title="{f:translate(key:'pagination.last')}">
                            <core:icon identifier="actions-view-paging-last" />
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <li class="disabled">
                        <span>
                            <core:icon identifier="actions-view-paging-next" />
                        </span>
                    </li>
                    <li class="disabled">
                        <span>
                            <core:icon identifier="actions-view-paging-last" />
                        </span>
                    </li>
                </f:else>
            </f:if>
            <li>
                <a href="{f:be.uri(route: route, parameters:'{id: settings.pid, key: key, currentPage: pagination.current}')}" title="{f:translate(key:'pagination.refresh')}">
                    <core:icon identifier="actions-refresh" />
                </a>
            </li>
        </ul>
    </nav>
</f:section>