<header class="py-5">
	<h2 class="text-uppercase">
		<f:if condition="{data.nav_title}">
			<f:then>
				{data.nav_title}
			</f:then>
			<f:else>
				{data.title}
			</f:else>
		</f:if>
	</h2>
</header>

<f:format.raw>{main}</f:format.raw>