<div class="slider">
	<f:for each="{gallery.rows}" as="row">
            <f:for each="{row.columns}" as="column" iteration="index">
                <f:if condition="{column.media}">
						<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                </f:if>
            </f:for>
	</f:for>
</div>