<f:layout name="Module" />

<f:section name="Content">
	<f:flashMessages />
	<h1><f:translate key="LLL:EXT:maagitprovider/Resources/Private/Language/locallang_mod.xlf:title" /></h1>    
	<f:for each="{data}" as="form">
		<f:render partial="Formdata/Form" arguments="{form: form}" />
	</f:for>
</f:section>