<f:layout name="DefaultLayout" />

<f:section name="Content">
	
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<f:render partial="LayoutHeader" arguments="{_all}" />

		<!-- Main -->
		<div id="main">
			<!-- Accessibility Content -->
			<hr class="hidden" />
			<h1 class="hidden">Inhalt</h1>
		
			<!-- Content -->
			<f:render partial="LayoutContent" arguments="{_all}" />
		</div>
		
		<!-- Footer -->
		<f:render partial="LayoutFooter" arguments="{_all}" />
	</div>

</f:section>
