<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:switch expression="{data.colPos}">
		<f:case value="10"><f:render partial="Media/Gallery" arguments="{_all}" /></f:case>
		<f:defaultCase>
			<div class="ce-image ce-{gallery.position.horizontal} ce-{gallery.position.vertical}">
		        <f:render partial="Media/Gallery" arguments="{_all}" />
		    </div>
		</f:defaultCase>
	</f:switch>

</f:section>
</html>
